*{
     box-sizing: border-box;
     margin:0;
     padding:0;
}

body{
     font-family:'Kumbh Sans';
     height: 100vh;
     background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
     background-position: top -800% left -35%,
                          bottom -800% right -35%;
     background-repeat: no-repeat;
     background-size:60% 95%, 60% 95% ;
     background-color: hsl(185, 75%, 39%);
     
}

.container{
     background-color: #fff;
     width:300px;
     height:320px;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     border-radius: 10px;
     text-align: center;

}

.card-img{
     max-width: 100%;
     height: auto;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
.pro-img{
     width:70px;
     height: 70px;
     border-radius: 50%;
     border:3px solid #fff;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-110%);
     
}
.name{
     margin-top: 45px;
     margin-bottom: 10px;
     
}

h3{
     color:hsl(229, 23%, 23%);
     font-size: 18px;
     font-weight:700;
}
.txt{
     color:hsl(227, 10%, 46%);
     font-weight:400;
     margin:5px;
     
    
}

.txt-stats{
     font-size: 13px;
}


.stats{
     display:flex;
     flex-direction:row;
     justify-content: space-around;
     margin-top:20px;
     padding:15px;
     border-top: 1px solid hsl(0, 0%, 59%);
}


/* ---------------RESPONSIVE----------------- */
@media screen and (max-width: 400px){
     body{
          background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
     background-position: top -60% left -35%,
                          bottom -60% right -35%;
     background-repeat: no-repeat;
     background-size:70% 60%, 70% 60% ;
     background-color: hsl(185, 75%, 39%);
     }
}
